<!-- views/songs/index.erb -->
<p>Add a new song <a href="/songs/new">here</a></p>
<p>Find a song by ID <a href="/songs/:id">here</a></p>

 <h1>All Songs</h1>

<div id="songs">
  <% @songs.each do |song| %>
    <h3><%= song.title %></h3>
    <p>Song length: <%= song.length %></p>
    <p>Playlist: <%= song.playlist.name %></p>
    <p>Play Count: $<%= song.play_count %></p>
  <% end %>
</div>
